{% extends "base.html" %}
{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1>Luo Hahmo</h1>
    <form method="post" action="{{base_path}}/character/new/{{game_id}}">
        <div class="form-group">
            <label>Nimi</label>
            <input class="form-control" value="Hahmon nimi" type="text" name="name">
        </div>
         <div class="form-group">
            <label>Lyhyt kuvaus</label>
            <input class="form-control" value="Lyhyt kuvaus hahmosta" type="text" name="description_short">
        </div>
         <div class="form-group">
            <label>Kuvaus</label>
            <input class="form-control" value="Pitempi kuvaus hahmosta" type="text" name="description">
        </div>
         <div class="form-group">
            <label>Historia</label>
            <input class="form-control" value="Hahmon historiaa" type="text" name="history">
        </div>
        {% if user_logged_in %}
            {% for game_user in game_users %}
                {% if user_logged_in.id == game_user.user_id %}
                    {% if game_user.gamemaster %}
                        <div class="form-group">
                            <label>Gm tiedot</label>
                            <input name="gm_note" class="form-control" value="historiaa" type="text">
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </form>
{% endblock %}
