{% extends "base.html" %}
{% block content %}
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1>Muokkaa Hahmoa {{character.name}}</h1>
    <form method="post" action="{{base_path}}/character/{{character.id}}/edit">
        <div class="form-group">
            <label>Nimi</label>
            <input class="form-control" value={{character.name}} name="name" type="text">
        </div>
         <div class="form-group">
            <label>Lyhyt kuvaus</label>
            <input class="form-control" value={{character.description_short}} name="description_short" type="text">
        </div>
         <div class="form-group">
            <label>Kuvaus</label>
            <input class="form-control" value={{character.description}} name="description" type="text">
        </div>
         <div class="form-group">
            <label>Historia</label>
            <input class="form-control" value={{character.history}} type="text" name="history">
        </div>
        {% if user_logged_in %}
            {% for game_user in game_users %}
                {% if user_logged_in.id == game_user.user_id %}
                    {% if game_user.gamemaster %}
                        <div class="form-group">
                            <label>Gm tiedot</label>
                            <input name="gm_note" class="form-control" type="text" tetxt={{character.gm_note}}>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
    </form>
    <form method="post" action="{{base_path}}/character/{{character.id}}/destroy">
    </form>
{% endblock %}
