{% extends "base.html" %}
{% block content %}

    <h1>Kuvaus</h1>
    Tältä sivustolta löytyy omia pelikuvauksiani. Alhaalta löytyy linkit peleihin.

    <h1>Pelit</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Systeemi</th>
                <th>Kuvaus</th>
                <th>Viimeisin päivitys</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Uinuvan Jumalan Saari</th>
                <th>Shadows of the Demon Lord</th>
                <th>Pitkä ja kattava kuvaus tähän pelistä. Mitä käy taulukolle? Se jää nähtäväksi.</th>
                <th>27.1.2018</th>
                <th><a href="#" class="btn btn-success">Sivulle</a></th>
            </tr>
        </tbody>
    <p>
        <a href="#" class="btn btn-success">Uusi peli</a>
    </p>


{% endblock %}
