{% extends "base.html" %}
{% block content %}
    <p>
        <a href="{{base_path}}/game/{{game.id}}/edit" class="btn btn-default">Muokkaa</a>
    </p>
    <h1>{{game.name}}</h1>
    {{game.description}}

    <h1>Hahmot</h1>
    {% for character in characters%}
        <h2><a href="{{base_path}}/character/{{character.id}}">{{character.name}}</a></h2>
        {{character.description_short}}
    {% endfor %}

    <h1>Sessiot</h1>
    <p>
        <a href="#" class="btn btn-success">Uusi peli</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sessio</th>
                <th>Kuvaus</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1. Haakserikko</th>
                <th>Pelaajat haakserikkouvat orjalaivallaan Ithrumin saaren rannikolle. Mutta kuinkas sitten kävikään</th>
                <th><a href="{{base_path}}/session/{{game.id}}/" class="btn btn-success">Sivulle</a></th>
            </tr>
        </tbody>

{% endblock %}
