{% extends "base.html" %}
{% block content %}
    <h1>Muokkaa Hahmoa Carl</h1>
    <form>
        <div class="form-group">
            <label>Nimi</label>
            <input class="form-control" value="Carl" type="text">
        </div>
         <div class="form-group">
            <label>Kuvaus</label>
            <input class="form-control" value="Nuorehko Hiisi varas, jonka aarteiden himon ylittää ainostaan hänen pelkuruutensa." type="text">
        </div>
         <div class="form-group">
            <label>Historia</label>
            <input class="form-control" value="Carl vietti nuoruutensa temppelin vartijana, kunnes kyllästyi paikallisiin sääntöihin ja päätti paeta kotikaupungistaan seikkailijaksi.
" type="text">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
            <button type="submit" class="btn btn-danger">Poista</button>
        </div>
    </form>
{% endblock %}
