{% extends "base.html" %}
{% block content %}
    <p>
        <button class="btn btn-default">Muokkaa</button>
    </p>
    <h1>1. Haakserikko</h1>
    Pelaajat haakserikkoutuvat orjalaivavllaan Ithrumin saaren rannikolle. Mutta kuinkas sitten kävikään.
    <h1>Mitä sessiossa tapahtui</h1>
    Tähän tulee pitempi kuvaus siitä mitä pelissä tapahtui. Pelaajat haakserikkoutuivat rannalle, jonka jälkeen he alkoivat tutkia <a href="#">Ithrumin</a> saarta. 
    <h1>Pelinjohtajan osuus</h1>
    Tähän tulee salaista informaatiota pelin kulusta.
{% endblock %}
